.container
  .row
    .span12
      h1 
        a(href="{{post.url}}") {{ post.title}}
  .row
    .span12
      p {{ post.description }}
  .row
    .span12
      h3 Critical Questions
      ul.unstyled
        li(ng-repeat="q in post.questions")
          {{ q.text }}
  
  .row
    .span12
      ul.nav.nav-pills
        li(ng-repeat="(framework, catId) in frameworks", ng-class="{active: showing == catId}")
          a(ng-click="toggleFramework(framework)")  {{ framework }}

    .span12
      form.form-horizontal(ng-submit="addComment()", ng-show="!replycomment")
        .control-group
          textarea(placeholder="Comment", ng-model="newcomment.body")
        .control-group
          input.btn.btn-primary.btn-large(type="submit")
      
          
    .span12
      .media
        .media-body.well(ng-repeat="comment in post.comments | filter:showComment | orderBy:'votes':true")
          .voting
            .arrow.up
              i.icon-sort-up(ng-click="vote(comment, true)")
          .votes
            {{ comment.votes }} Points by anonymous&nbsp;&nbsp;
          span.fui-man-24 
          .body {{ comment.body }} 
          small.date Posted on {{comment.date | date:'short'}} 
            a(ng-click="reply(comment, true)", ng-hide="replycomment == comment") reply
            a(ng-click="reply(comment, false)", ng-hide="replycomment != comment") hide 
            &nbsp;&nbsp;&nbsp;
            a(ng-click="expand(comment, true)", ng-hide="comment.comments.length == 0 || comment.expanded") [show {{ comment.comments.length }} more comments]
            a(ng-click="expand(comment, false)", ng-hide="comment.comments.length == 0 || !comment.expanded") [collapse]
          form.form-horizontal(ng-submit="addComment()", ng-show="replycomment == comment")
            .control-group
              textarea(placeholder="Comment", ng-model="newcomment.body")
            .control-group
              input.btn.btn-primary.btn-large(type="submit", value="Add Comment") Add Comment
          .media
            .media-body.well(ng-hide="!comment.expanded", ng-repeat="subcomment in comment.comments | filter:showComment | orderBy:'votes':true")
              .voting
                .arrow.up
                  i.icon-sort-up(ng-click="vote(subcomment, true)")
              .votes
                {{ subcomment.votes }} Points by anonymous&nbsp;&nbsp;
              span.fui-man-24 
              .body {{ subcomment.body }} 
              small.date Posted on {{subcomment.date | date:'short'}} 
                a(ng-click="reply(subcomment, true)", ng-hide="replycomment == subcomment") reply
                a(ng-click="reply(subcomment, false)", ng-hide="replycomment != subcomment") hide 
              form.form-horizontal(ng-submit="addComment()", ng-show="replycomment == subcomment")
                .control-group
                  textarea(placeholder="Comment", ng-model="newcomment.body")
                .control-group
                  input.btn.btn-primary.btn-large(type="submit", value="Add Comment") Add Comment
              
              
      
              
              
      
