.container
  .row
    .span12
      h1 
        a(href="{{post.url}}") {{ post.title}}
  .row
    .span12

      p {{ post.description }}
    
  .row
    .span12
      ul.nav.nav-pills
        li(ng-repeat="(framework, catId) in frameworks", ng-class="{active: showing == catId}")
          a(ng-click="toggleFramework(framework)")  {{ framework }}
          
    .span12
      .media
        .media-body(ng-repeat="comment in post.comments | filter:showComment")
          {{ comment.body }} 
    .span12
      form.form-horizontal(ng-submit="addComment()")
        .control-group
          textarea(placeholder="Comment", ng-model="comment.body")
        .control-group
          input.btn.btn-primary.btn-large(type="submit")
      
  
