/* app css stylesheet */

.menu {
  list-style: none;
  border-bottom: 0.1em solid black;
  margin-bottom: 2em;
  padding: 0 0 0.5em;
}

.menu:before {
  content: "[";
}

.menu:after {
  content: "]";
}

.menu > li {
  display: inline;
}

.menu > li:before {
  content: "|";
  padding-right: 0.3em;
}

.menu > li:nth-child(1):before {
  content: "";
  padding: 0;
}

.logo {
  max-height: 18px;
}

.green {
  color: #1ABC9C;
}

.rank, .voting, .entry {
  float: left;
}

.rank {
  margin-top: 15px;
  font-size: medium;
  width: 1.80ex;
  padding-left: 10px;
}

.voting {
  margin-left: 7px;
  font-size: small;
}

.voting .arrow {
  height: 14px;
  width: 15px;
  margin: 2px 0px 0px 0px;
  margin-left: auto;
  margin-right: auto;
  outline: none;
  display: block;
  cursor: pointer;
}

.voting .arrow.down {
  margin-top: -4px;
}

.voting .votes {
  text-align: center;
  font-size: small;
  height: 16px;
}

.media-body .votes {
  float: left;
}
.media-body .body{
  margin-left: 20px;
}

.control-group .fui-cross-16 {
  margin-left: -36px;
  margin-right: 4px;
}
.control-group .fui-plus-16 {
  margin-left: 4px;
}
.item-name {
  font-weight: bold;
}
.body span {
  color: #1abc9c;
}
